{
	"endOfLine": "lf",
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@(.*)$", "^[./]"],
	"singleAttributePerLine": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
